<!-- templates/auth2setup.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <br>
  <h3 class="title">2FA Login</h3>
  <div class="box">
      <form method="GET" action="{{ url_for('auth.b2fa') }}">
        <h5>Anleitung</h5>
        <ul>
          <li>Laden Sie sich eine Authenticator App (TOTP) herunter</li>
          <li>Scannen Sie den QR-Code oder kopieren sie den Secret Token.</li>
        </ul>
        <div class="text-center">
          <img src="data:image/png;base64, {{ qr_image }}" alt="Secret Token" style="width:200px;height:200px"/>
        </div>
      <div class="form-group">
        <label for="secret">Secret Token</label>
        <input type="text" class="form-control" id="secret" value="{{ secret }}" disabled>
      </div>
      <div class="text-center mt-2">
        <button type="button" class="btn btn-primary" onclick="copySecret()">
          Secret Token kopieren
        </button>
      </div>
      <p class="mt-4 text-center">
        Haben Sie die Einrichtung auf ihrem Gerät abgeschlossen? Dann bestätigen Sie mit "Weiter".
      </p>
      <input class="btn btn-primary" type="submit" value="Weiter">
      </form>
  </div>
</div>
<script>
  function copySecret() {
    var copyText = document.getElementById("secret");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
    alert("Successfully copied TOTP secret token!");
  }
</script>
{% endblock %}