<!-- templates/register_server.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <br>
    <form method="POST" action="{{ url_for('dashboard.register_server_post') }}">
        <h3 class="title">Server hinzufügen</h3>
        <br>
        <div class="form-group">
            <label for="nameInput">Servername</label>
            <input name="name" class="form-control" type="text" placeholder="Name eingeben" id="nameInput" required>
        </div>
        <div class="form-group">
            <label for="protocols">Wähle ein Protokoll:</label><br>
            <select class="form-control" id="protocols" name="protocol">
                <option value="https">Https Website Anfrage</option>
                <option value="http">Http Website Anfrage</option>
                <option value="mcbe">MC Bedrock Server ping</option>
                <option value="mcje">MC Java Server ping</option>
                <option value="reachable">Port Anfrage</option>
            </select>
        </div>
        <div class="form-group">
            <label for="hostInput">IP/Domain/Url</label>
            <input name="host" class="form-control" type="text" placeholder="IP/Domain/Url angeben" id="hostInput" required>
        </div>
        <div class="form-group">
            <label for="portInput">Port</label>
            <input name="port" class="form-control" type="number" placeholder="Port angeben" id="portInput" required>
        </div>
        <div class="form-group">
            <label for="types">Wähle ein Montoring Typ:</label><br>
            <select class="form-control" id="types" name="type">
                <option value="request">Unser System stellt die Anfrage</option>
                <option value="self_answer">Rückmeldung per API Key</option>
            </select>
        </div>
        <div class="form-group">
            <label for="visibilities">Sichtbarkeit:</label><br>
            <select class="form-control" id="visibilities" name="visibility">
                <option value="public">Öffentlich</option>
                <option value="private">Privat</option>
            </select>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Server hinzufügen">
    </form>
</div>
{% endblock %}