<!-- templates/change_password.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <br>
    <form method="POST" action="{{ url_for('dashboard.change_password_post') }}">
        <h3 class="title">Passwort ändern</h3>
        <br>
        <div class="form-group">
            <label for="oldPasswordInput">Altes Passwort</label>
            <input name="old-password" class="form-control" type="password" placeholder="Altes Passwort eingeben" id="oldPasswordInput" required>
        </div>
        <div class="form-group">
            <label for="passwordInput">Neues Passwort</label>
            <input name="password" class="form-control" type="password" placeholder="Passwort eingeben" id="passwordInput" required>
        </div>
        <div class="form-group">
            <label for="passwordRepeatInput">Meues Passwort wiederholen</label>
            <input name="password-repeat" class="form-control" type="password" placeholder="Passwort erneut eingeben" id="passwordRepeatInput" required>
        </div>
        <br>
        <a class="btn btn-secondary" role="button" href="{{ url_for('dashboard.profile') }}">Zurück</a>
        <button class="btn btn-primary" type="submit">Speichern</button>
    </form>
</div>
{% endblock %}