<!-- templates/membership_requests.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
   <br>
   <br>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>E-Mail</th>
            <th>Nutzername</th>
            <th>Datum</th>
            <th>Aktionen</th>
         </tr>
      </thead>
      <tbody>
         {% for request in membership_requests %}
            <tr>
               <td>{{ request.email }}</td>
               <td>{{ request.name }}</td>
               <td>{{ request.since }}</td>
               <td class="text-center"><a style="margin-right: 5%;" href="{{ url_for('admin.accept_membership_request', request_id=request.id) }}"><span class="bi bi-box-arrow-in-right text-primary"></span></a> <a href="{{ url_for('admin.delete_membership_request', request_id=request.id) }}"><span class="bi-trash-fill text-primary"></span></a></td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}